.forms {
  flex-basis: 40%;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
fieldset {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  box-shadow: 0 0 2px #213547;
  border: 1px solid #213547;
  padding: 20px;
  border-radius: 10px;
}
legend {
  font-weight: 500;
  font-size: 1.3rem;
  width: 100%;
}
legend > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.toggle,
.edit {
  background-color: #2f5bec;
  border-radius: 10px;
  width: 30px;
  padding: 5px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label input,
label textarea {
  background-color: rgba(33, 53, 71, 0.3);
  border: none;
  border-radius: 5px;
  padding: 10px;
}
input:focus,
textarea:focus {
  outline: 1px solid#2f5bec;
  border-color: #2f5bec;
}
textarea {
  resize: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[type="button"] {
  background-color: #f84b2c;
}
.dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
