* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #213547;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 0;
  background-color: #fff;
  min-height: 100vh;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  /* color: #2f5bec; */
  font-weight: 400;
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container > h1 {
  text-align: center;
}
